<p> <%= render partial: 'layouts/messages', locals: {object: @post}  %> </p>

<%= stylesheet_link_tag "comments" %>

<div class="comment box">
<%= form_for [@post, @comment] do |f| %>
    <%= f.hidden_field :id, value: @comment %>
    <%= f.hidden_field :post_id, value: @comment.post_id %>
    <%= f.hidden_field :user_id, value: @comment.user_id %>
    <%= f.hidden_field :id, value: @comment.id %>
    <div class="input-group">
        <div class="input-group-append">
            <%= f.text_field :body, placeholder: "Comment on this post." %>               
        </div>
    <%= f.submit "Submit Comment" %>
    </div>
<% end %>
</div>