<center>  
<div class="alert"
    <p> <%= render partial: 'layouts/messages', locals: {object: @post}  %> </p>
</div>


    <%= stylesheet_link_tag "users", media: "all", "data-turbolinks-track" => true %>

  
                <div class="row">
                    <div class="col-4">
                        <div-class="profile-photo">
                            <%= image_tag @user.photo.url, :size => "125x125", class: "img-thumbnail" %>                    
                        </div>
                    </div>
                </div>
            
                                <div class="profile-info">
                                    <h3><%= @user.name %></h3>
                                    <p><%= simple_format @user.description %></p>
                                    <br>
                                </div>
                                    
                                    <div class="gallery">
                                        <div class="col-md-8">
                                            <% @user.posts.each do |post| %>
                                            <a href=<%= "/#{@user.username}/posts/#{post.id}" %>>
                                                <%= image_tag post.photo.url, :size => "150x150", class: 'img-responsive post-img' %>
                                            <% end %>
                                        </div>
                                    </div>
</center>
