<p> <%= render partial: 'layouts/messages', locals: {object: @user}  %> </p>

<%= stylesheet_link_tag "forms" %>

<div class="heading">
<h1> Edit Post </h1>
</div>

<%= form_for [current_user, @post] do |f| %>
  <div class="form">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
    <%= f.hidden_field :post_id, value: current_user.id, class: 'd-none'%>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, placeholder: "Tags separated with comma" %>
    <%= f.hidden_field :user_id, value: current_user.id, class: 'd-none'%>
  </div>

  <div class="actions">
    <%= button_to "Submit Changes", [current_user, @post], :method => :patch %>
  <% end %>

  <div class="actions">
  <p><%= button_to "Delete Photo", [current_user, @post], value: current_user.username, :method => :delete, :class => 'action destroy' %></p>
  </div>