<p> <%= render partial: 'layouts/messages', locals: {object: @user}  %> </p>


<h1> Edit Post </h1>
<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
    <%= f.hidden_field :post_id, value: current_user.id, class: 'd-none'%>
  </div>

  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, placeholder: "Tags separated with comma" %>
    <%= f.hidden_field :user_id, value: current_user.id, class: 'd-none'%>
  </div>

  <div class="actions">
    <%= button_to "Submit Changes", @post, :method => :patch %>
  <% end %>

  <p><%= button_to "Delete", @post, value: current_user.username, :method => :delete, :class => 'action destroy' %></p>
  </div>