<%= stylesheet_link_tag "posts" %>

<div class="alert">
    <% if flash[:notice] %>
        <%= flash[:notice] %>
    <% end %>
</div>

<center>

    <div class="show-posts">
        <% @posts.each do |post| %>
        <%= image_tag post.photo.url, :size => "300x300", class: 'img-responsive post-img' %>
    </div>

        <div class="username">
            <strong><%= link_to "#{ post.user.username }", "/profile/#{post.user.username}" %></strong>
        </div>
        <div class="caption">
            <p><%= simple_format post.caption %></p>
        </div>
        
        <% end %>


</center>