<%= link_to 'All Posts', posts_path %>

    <%= image_tag @post.photo.url, :size => "300x300", :crop => :fill %>
 
    <div class="container">
        <strong><%= @post.user.username %></strong>
        <p><%= simple_format @post.caption %></p>
    </div>
    <div class="row">
        # view to post comments here
    </div>

    </div>
    <div class="container">
        # link to comment here
    </div>

    <div class="container">
        <div class="row">
        <% if @post.user == current_user %>
            <p><%= link_to "Edit", edit_post_path(post_id:@post.id) %></p>
        <% else %>
            <%= link_to "User Profile", "/profile/#{@post.user.username}" %>
        <% end %>
        </div>
    </div>