<p> <%= render partial: 'layouts/messages', locals: {object: @post}  %> </p>

<%= stylesheet_link_tag "posts" %>

<center>
<div class="show-posts">
    <%= link_to 'Back To Posts', user_posts_path(current_user.id) %>
</div>
    <%= image_tag @post.photo.url, :size => "600x600", :crop => :fill %>
 
    <div class="caption">
        <h4>Posted on: <%= @post.created_at%></h4>
        <p>Caption: <%= simple_format @post.caption %></p>
    </div>

    <div class="caption">
    <p>Tags:
       <%= "#{@post.tag_list}" %>
    </p>
    </div>

    <div class="comments">
    <% @post.comments.limit(10).each do |comment| %>
        <br>	               
        <strong><%= link_to "#{comment.user.username}", "/profile/#{comment.user.username}" %>:</strong>
           <%= comment.body %><br><h6><p style="text-muted"><%= comment.created_at %></p></h6> 
    <% end %>	    
    </div>

    </div>
    <div class="actions">
    <br>
    <% if current_user %>
        <%= link_to "Comment on Post", new_post_comment_path(@post, @comment) %>
    <% else %>
        <%= link_to "Log in or Sign up to Comment", new_user_registration_path %>
    <% end %>
    </div>
    <br>
    <div class="actions">
        <div class="row">
        <% if @post.user == current_user %>
            <p><%= link_to "Edit", edit_user_post_path(current_user, @post) %></p>
            <%= link_to "Back to profile", profile_path(@post.user.username) %>
        <% else %>
            <%= link_to "Back to Profile", profile_path(@post.user.username) %>
        <% end %>
        </div>
    </div>
</center>