<p> <%= render partial: 'layouts/messages', locals: {object: @post}  %> </p>


<%= link_to 'All Posts', user_posts_path %>

    <%= image_tag @post.photo.url, :size => "300x300", :crop => :fill %>
 
    <div class="container">
        <h4>Posted on: <%= @post.created_at%></h4>
        <p><%= simple_format @post.caption %></p>
    </div>

    <div class="container">
    <p>Tags:
       <%= "#{@post.tag_list}" %>
    </p>
    </div>

    <div class="row">
    <% @post.comments.limit(10).each do |comment| %>
        <br>	               
        <strong><%= link_to "#{comment.user.username}", "/profile/#{comment.user.username}" %>:</strong>
           <%= comment.body %>
    <% end %>	    
    </div>

    </div>
    <div class="container">
    <br>
    <% if current_user %>
        <%= link_to "Comment on Post", new_user_comment_path(post_id:@post.id) %>
    <% else %>
        <%= link_to "Log in or Sign up to Comment", new_user_registration_path %>
    <% end %>
    </div>
    <br>
    <div class="container">
        <div class="row">
        <% if @post.user == current_user %>
            <p><%= link_to "Edit", edit_user_post_path(post_id:@post.id) %></p>
            <%= link_to "Back to profile", profile_path(@post.user.username) %>
        <% else %>
            <%= link_to "Back to Profile", profile_path(@post.user.username) %>
        <% end %>
        </div>
    </div>