<%= link_to 'All Posts', posts_path %>

    <%= image_tag @post.photo.url, :size => "300x300", :crop => :fill %>
 
    <div class="container">
        <h4>Posted on: <%= @post.created_at%></h4>
        <p><%= simple_format @post.caption %></p>
        <%= @post.tag_list %>
    </div>

    <div class="row">
    <% @post.comments.limit(10).each do |comment| %>
        <br>	               
        <strong><%= link_to "#{comment.user.username}",  "/profile/#{comment.user.username}" %></strong>
           <%= comment.body %>
    <% end %>	    
    </div>

    </div>
    <div class="container">
    <% if current_user %>
        <%= link_to "Comment Post", new_comment_path(post_id:@post.id) %>
    <% else %>
        <%= link_to "Log in or Sign up to Comment", new_user_registration_path %>
    <% end %>
    </div>

    <div class="container">
        <div class="row">
        <% if @post.user == current_user %>
            <p><%= link_to "Edit", edit_post_path(post_id:@post.id) %></p>
            <%= link_to "Back to profile", "/profile/#{@post.user.username}" %>
        <% else %>
            <%= link_to "User Profile", "/profile/#{@post.user.username}" %>
        <% end %>
        </div>
    </div>