<%= link_to 'All Posts', posts_path %>

    <%= image_tag @post.photo.url, :size => "300x300", :crop => :fill %>
 
    <div class="container">
        <strong><%= @post.user.username %></strong>
        <p><%= simple_format @post.caption %></p>
    </div>
    <div class="row">
    </div>

    </div>
    <div class="container">
        <%= link_to "Comment Post", new_comment_path(post_id:@post.id) %>
    </div>

    <div class="container">
        <div class="row">
        <% if @post.user == current_user %>
            <p><%= link_to "Edit", edit_post_path(post_id:@post.id) %></p>
            <%= link_to "Back to profile", "/profile/#{@post.user.username}" %>
        <% else %>
            <%= link_to "User Profile", "/profile/#{@post.user.username}" %>
        <% end %>
        </div>
    </div>